{% extends "base.html" %} {% load i18n allauth account %} {% block head_title %}
{% trans "Password Reset" %} {% endblock head_title %} {% block content %}
<div class="page-wrapper">
    <div class="container password-reset login form-wrapper">
        <h1>{% trans "Reset Your Password" %}</h1>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                {% trans "Reset Password" %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}
