{% extends "base.html" %} {% load allauth i18n %} {% block head_title %} {% trans "Change Password" %} {% endblock head_title %} {% block content %}
<div class="page-wrapper">
    <div class="form-wrapper login">
        <h1>{% trans "Change Password" %}</h1>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                {% trans "Change Password" %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}
