{% extends "base.html" %} {% load allauth i18n %} {% block head_title %} {%trans "Signup" %} {% endblock head_title %} {% block content %}
<div class="page-wrapper">
    <div class="container signup login form-wrapper">
        <h1 class="signup-title">{% trans "Create Your Account" %}</h1>
        <form
            method="post"
            action="{% url 'account_signup' %}"
            class="signup-form"
        >
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="signup-button">
                {% trans "Sign Up" %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}
