{% extends "base.html" %} {% load static %} {% block title %} {{ page.title }}
{%endblock title %} {% block content %}
<div class="page-wrapper profile-page">
    <div class="row">
        <div class="sidebar">
            <div class="profile-info">
                <h2>Hello, {{ user.username }}</h2>
                <p class="email">{{ user.email }}</p>
            </div>
            <!-- Profile Navigation -->
            <nav class="profile-nav">
                <ul>
                    <li>
                        <button
                            data-section="overview"
                            class="active-profile-link"
                            aria-label="Profile Overview"
                        >
                            Profile Overview
                        </button>
                    </li>
                    <li>
                        <button
                            data-section="settings"
                            class="profile-link"
                            aria-label="Account Settings"
                        >
                            Account Settings
                        </button>
                    </li>
                </ul>
            </nav>

            <!-- Account Management Quick Links -->
            <nav class="account-links-nav">
                <h3>Account Management Quick Links</h3>
                <ul>
                    <li>
                        <a
                            href="{% url 'account_email' %}"
                            aria-label="Manage Emails"
                            >Manage Emails</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'account_change_password' %}"
                            aria-label="Change Password"
                            >Change Password</a
                        >
                    </li>
                </ul>
            </nav>

            <!-- Danger Zone -->
            <h3>Danger Zone</h3>
            <nav class="danger-zone-nav">
                <ul>
                    <li>
                        <a href="{% url 'account_logout' %}" aria-label="Logout"
                            >Logout </a
                        ><i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </li>
                    <li>
                        <a
                            data-href="{% url 'account_delete' %}"
                            aria-label="Delete Account"
                            class="text-danger delete-account-link"
                            href="#"
                        >
                            Delete Account </a>
                            <i class="fa-solid fa-user-xmark text-danger"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="information col">
            <div class="section overview-section" id="overview">
                <h2>Profile Overview</h2>
                <p>
                    Welcome, {{ user.username }}! Here is a summary of your
                    profile information.
                </p>
                <ul>
                    <li><strong>Username:</strong> {{ user.username }}</li>
                    <li><strong>Email:</strong> {{ user.email }}</li>
                    <li>
                        <strong>Date Joined:</strong>
                        {{ user.date_joined|date:"F j, Y" }}
                    </li>
                </ul>
            </div>

            <div
                class="section settings-section"
                id="settings"
                style="display: none"
            >
                <h2>Account Settings</h2>
                <p>Manage your account settings below.</p>
                <ul>
                    <li>
                        <a
                            href="{% url 'account_email' %}"
                            aria-label="Manage Emails"
                            >Manage Emails</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'account_change_password' %}"
                            aria-label="Change Password"
                            >Change Password</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock extra_js %}
