{% extends "base.html" %} {% load static %} {% block title %}{{ page.title }}{% endblock title %} {% block extra_head %}
<meta name="description" content="Notiq - The Note Editor That Thinks With You. Integrated voice notes, mixed media, and intuitive workflow for enhanced productivity and creativity.">
{% endblock extra_head %} {% block content %}
{% if page %}
<div class="container terms">
    <h1>{{ page.title }}</h1>

    <p>Last Updated: {{ page.updated_at|date:"F j, Y" }}</p>
    {{ page.content|safe }}
    {% else %}
    404 - Policy Not Found

    The requested legal document could not be located in the database.</div>
{% endif %}
{% endblock content %}